[submodule "qlib"]
	path = qlib
	url = https://github.com/microsoft/qlib.git
[submodule "Kronos"]
	path = Kronos
	url = https://github.com/shiyu-coder/Kronos
[submodule "RD-Agent"]
	path = RD-Agent
	url = https://github.com/microsoft/RD-Agent.git
